.cards {
  float: left;
  position: relative;
  display: inline-block;
  width: calc(100% / 3 - 30px );
  height: 420px;
  margin-bottom: $content_mb;
  padding: $cards_padding;
  margin: $cards_marking;
  @include border-radius(4px);
  & > .title_img {
    background: $color_01;
    margin: (-$cards_padding) (-$cards_padding) 0 (-$cards_padding);
    line-height: 0;
    overflow: hidden;
    @include border-radius(4px 4px 0 0);
    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    white-space: nowrap;
    overflow: hidden;
  }
  .card_tag {
    @extend .clearfix;
    ul, li {
      list-style: none;
      margin: 0;
    }
    ul {
      padding: 0;
    }
    li {
      display: block;
      float: left;
      padding: 0 .3rem;
    }
  }
}
