//breakpoint
$pad_screen: 768px;
$desktop_screen: 993px;
$bigger_screen: 1280px;

//container width
$container_width: 95%;
$container_pad_width: 90%;

//web style
$web_font_family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', "Helvetica", "Arial", sans-serif;
$web_font_size: 16px;
$web_linehight: 1.5em;

//container、col 左右 padding (有 row 會抵消)
$container_padding: 15px;
//row的margin-bottom
$content_mb: 20px;
//section 上下 padding 距離
$section_padding: 1rem;

//nav設定
$nav_height: 70px;

//主要顏色
$color_01: #22ac38;
$color_02: #abcdef;
$color_03: #abcdef;

//文字主要顏色
$font_color_01: #444;
$font_color_02: #22ac38;
$font_color_03: #888;

//cards 參數
$cards_padding: 10px;
